@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #51614d;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  outline: 0;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 0px -1px #d7f1d0;

  & * {
    display: flex;
  }

  &:focus,
  &:hover:enabled {
    opacity: .75;
  }

  &:not(:active) {
    animation: fade .2s ease;
  }

  &:disabled {
    opacity: .6;
    animation: none;
    color: #cecece;
  }

  &:hover:disabled {
    cursor: not-allowed;
  }

  .description {
    margin: 0 5px;
  }

  .iconMargin {
    margin: 0 5px;
  }
}

@keyframes fade {
  30% {
    opacity: .5;
  }
}

