.card {
  font-family: Roboto, sans-serif;
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}

.head {
  border-radius: 10px 0;

  .img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

.body {
  padding: 0 10px 10px 10px;

  p {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.125em;
    color: #000000;
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    h3,
    span {
      margin: 0;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      color: #000000;
    }
  }

  button {
    width: 100%;
    padding: 7px;
    margin-top: 10px;

    span {
      color: #fff;
    }
  }
}
