.header {
  position: relative;
  height: 266px;
  color: white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/images/background.png') no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  }

  .nav {
    height: 76px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .link {
      text-decoration: none;
    }

    .link + .link {
      margin-left: 15px;
    }
  }

  .container {
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 25px;
    box-sizing: border-box;
    margin: 23px 0px 0px 16px;

    .title, .description {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      line-height: 1;
      color: inherit;
      margin: 0;
    }

    .title {
      font-size: 45px;
    }

    .description {
      font-size: 35px;
    }

    .title + .description {
      margin-top: 10px;
    }
  }
}
